{
  "presets": [
    [
      "env",
      {
        "target": {
          "node": "8.11.1"
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    [
      "module-resolver",
      {
        "alias": {
          "todos": "./",
        },
      },
    ]
  ]
}
